.guessed_container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 2em;
}
.guessed_heading {
  text-align: center; 
  font-size: 3em;       
  font-weight: bold;
  margin-top: 2em;       
  margin-bottom: 1.5em;  
  font-family: 'Arial', sans-serif; 
}

.letter {
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  border: 0.2em solid #333;
  border-radius: 0.5em;
  text-transform: uppercase;
}